security:
    erase_credentials: false
    # https://symfony.com/doc/current/security.html#b-configuring-how-users-are-loaded

    role_hierarchy:
        ROLE_ADMIN: [ROLE_ADMIN, ROLE_API]
        ROLE_API: ROLE_API

    providers:
        chain_provider:
            chain:
                providers: [fos_userbundle, fr3d_ldapbundle]
        fr3d_ldapbundle:
            id: fr3d_ldap.security.user.provider
        fos_userbundle:
            id: fos_user.user_provider.username

    encoders:
        AcmeBundle\Acme\User\LdapUser: plaintext
        FOS\UserBundle\Model\UserInterface: auto

    firewalls:
        # disables authentication for assets and the profiler, adapt it according to your needs
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js|translations)/
            fr3d_ldap: ~
            security: false
            form_login:
                always_use_default_target_path: true
                default_target_path: "/%locale%/receipts"
            logout: true
            anonymous: true

        main:
            provider: chain_provider
            fr3d_ldap: ~
            form_login:
                provider: chain_provider
                csrf_token_generator: security.csrf.token_manager
                always_use_default_target_path: true
                login_path: "fos_user_security_login"
                default_target_path: "/%locale%/receipts"
            logout: true
            anonymous: true

            # activate different ways to authenticate
            # https://symfony.com/doc/current/security.html#a-configuring-how-your-users-will-authenticate
            #http_basic: ~
            # https://symfony.com/doc/current/security/form_login_setup.html
            #form_login: ~

    access_control:
        - { path: ^/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/translations$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/admin/, role: ROLE_ADMIN }
        - { path: ^/api/activity, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/api/, role: ROLE_API }
