# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~
    mailer_user: mailer@domain.com

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    mipago.sender: 486666
    mipago.suffixes: ['001','002']
    mipago.return_url: http://domain.eus/mipago/thanks
    mipago.confirmation_url: 'http://domain.eus/receiptConfirmation'
    mipago.forwardController: 'AppBundle:Receipt:receiptConfirmation'
    mipago.test_environment: FALSE

    ldap_host: ldap.company.com
    ldap_user: ldap_user
    ldap_password: ldap_password
    ldap_users_dn: OU=Users,DC=name,DC=com
    ldap_accountDomainName: domain_name

    uploads_directory: %kernel.project_dir%/web/uploads
    mailer_from: info@domain.com
    mailer_sendConfirmation: false
    mailer_sendBCC: false
    mailer_BCC_email: ['email_for_the_copy@domain.com']

    gtwin_database_host: gtwindb
    gtwin_database_driver: oci8
    gtwin_database_port: 1521
    gtwin_database_name: ORCL_SID
    gtwin_database_user: gtwin_user
    gtwin_database_password: gtwin_password
