{% extends "@MiPago/default/layout.html.twig" %}
{% trans_default_domain "mipago" %}

{% block body %}
    <div class="alert alert-info margin-top-13">
	{{ messages.thanks | trans }}
    </div>
{% endblock %}

